## Раскомментируйте строчку ниже в зависимости от используемого
## компилятора C++

## Компилятор GNU C++
# CPPLINEE='g++ -Wall -g -o'

## Компилятор Clang:
# CPPLINEE='clang++ -Wall -g -o'

## Компилятор Zapcc:
# CPPLINEE='/home/username/zapcc-build/bin/zapcc++ -Wall -g -o'

## Если ваш компилятор C++ отсутствует в списке ниже, впишите его сами:
# PATH=$PATH:…
# CPPLINEE=…

echo>/dev/null

## По умолчанию используем GNU C++:
if [ -z "$CPPLINEE" ]; then
  CPPLINEE='g++ -Wall -g -o'
fi
